doctype html
head
  include components/head
body
  include components/header
  include components/navbar
  include components/about
  include components/cert
  include components/skills
  include components/portfolio
  include components/timeline
  include components/hire
  include components/contact
  include components/footer
  include components/scripts











