/* Portfolio Items */

#p-ipsec {
  background-image: url("../img/portfolio/ipsec.png");
  background-color: #263238;
  grid-area: ipsec;
}

#p-geekfen {
  background-image: url("../img/portfolio/geekfen.png");
  grid-area: geekfen;
  background-color: #546e7a;
}

#p-drjulia {
  background-image: url("../img/portfolio/drjulia.png");
  grid-area: drjulia;
  background-color: #689F38;
}

#p-totaleu {
  background-image: url("../img/portfolio/totaleu.png");
  background-color: #FBC02D;
  grid-area: totaleu;
}

#p-uniland {
  background-image: url("../img/portfolio/uniland.png");
  background-color: #f44336;
  grid-area: uniland;
}

#p-trpharm {
  background-image: url("../img/portfolio/trpharm.png");
  grid-area: trpharm;
  background-color: #eceff1;
}

#p-new {
  grid-area: new-project;
}


/* effects styles !!!YOU NEED THEM */
/* don't forget to add your own colors and parameters */
.portfolio-effect {
  display: grid;
  grid: repeat(7, 50vh) / repeat(1, 100vw);
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "ipsec"
    "totaleu"
    "uniland"
    "drjulia"
    "geekfen"
    "trpharm"
    "new-project";
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .portfolio-effect {
    grid: repeat(4, 50vh) / repeat(2, 50vw);
    grid-template-areas:
    "ipsec totaleu"
    "drjulia uniland"
    "geekfen trpharm"
    "new-project new-project";
  }

}

// /* // Medium devices (tablets, 768px and up) */
// @media (min-width: 767px) {
//   .portfolio-effect {
//     grid: repeat(3, 250px) / repeat(3, 250px);
//   }
// }

// /* // Large devices (desktops, 992px and up) */
// @media (min-width: 991px) {
//   .portfolio-effect {
//     grid: repeat(3, 300px) / repeat(3, 300px);
//   }
// }

.portfolio-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.portfolio-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: 200%;
  max-height: 200%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.portfolio-item__info {
  position: absolute;
  top: 7px;
  left: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2 * 7px);
  height: calc(100% - 2 * 7px);
  background-color: rgba(255, 255, 255, 0.7);
}

.portfolio-item__header {
  position: relative;
  margin: 0 0 20px 0;
  padding: 15px 0;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.portfolio-item__header:after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  width: 100%;
  content: "";
  background-color: #8d909b;
}

.portfolio-item__links {
  display: flex;
}

.portfolio-item__link-block {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.portfolio-item__link-block:last-child {
  margin-right: 0;
}

.portfolio-item__link {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f44336;
  text-decoration: none;
  border: 1px solid #101010;
  border-radius: 50%;
}
.portfolio-item__link:hover {
  color: #fff !important;
  border: 1px solid #f44336;
  background-color: #f44336;
}

/* EFFECT #1 STYLES */
.portfolio-item--eff1 .portfolio-item__info {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0;
}
.portfolio-item--eff1 .portfolio-item__header {
  top: -10px;
  opacity: 0;
}
.portfolio-item--eff1 .portfolio-item__header:after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.portfolio-item--eff1 .portfolio-item__link-block {
  top: 20px;
  opacity: 0;
}

.portfolio-item--eff1:hover .portfolio-item__info {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.portfolio-item--eff1:hover .portfolio-item__header {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.45s;
  top: 0;
  opacity: 1;
}
.portfolio-item--eff1:hover .portfolio-item__header:after {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.63, 0.01, 0, 1.39);
  transition-delay: 0.65s;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.portfolio-item--eff1:hover .portfolio-item__link-block {
  top: 0;
  opacity: 1;
}
.portfolio-item--eff1:hover .portfolio-item__link-block:first-child {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.85s;
}
.portfolio-item--eff1:hover .portfolio-item__link-block:nth-child(2) {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.95s;
}

.skill-list-title {
  font-size: 2.5rem;
}

.skill-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none; 
  list-style: none;
  text-align: center;
}

.skill-list-item i {
  font-size: 2.5rem;
}

.skill-box-item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #ffffff;
  overflow: hidden;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  margin-top: 9px;
  width: 90vw;
  height: 108px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

@media(min-width:576px){
  .skill-box-item {
    width: 70vw;
  }
}
@media(min-width:768px){
  .skill-box-item {
    width: 40vw;
  }
}
@media(min-width:1000px){
  .skill-box-item {
    width: 30vw;
  }
}
@media(min-width:1400px){
  .skill-box-item {
    width: 25vw;
  }
}

.skill-box-item:hover {
  cursor:pointer;
  -moz-transform: scale(1) rotate(0deg) translateX(-2px) translateY(-2px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(0deg) translateX(-2px) translateY(-2px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(0deg) translateX(-2px) translateY(-2px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(0deg) translateX(-2px) translateY(-2px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(0deg) translateX(-2px) translateY(-2px) skewX(0deg) skewY(0deg);
  box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.10);
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.skill-box-item:active{
  border:none !important;
}
.skill-box-item:focus {
  outline:none !important;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
  bordeR:none;
  border-left:5px solid;
  border-color:#44D0F4;
  border-radius: 3px;
  -moz-transform: scale(1) rotate(0deg) translateX(-2px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(0deg) translateX(-2px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(0deg) translateX(-2px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(0deg) translateX(-2px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(0deg) translateX(-2px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}


