article#about.container.section
  .about_container.row
    h2.box_title.col-12.center About Me
    .about_img.col-sm-12.col-md-4.center
      picture
        source(srcset='./img/bannerr.webp', type='image/webp')
        img(src='./img/banner.jpg', alt='Eugene Fenko')
    .about_text.col-sm-12.col-md-8.pt-3
      h3.text-center.text-md-left Eugene Fenko
      #github-data.container.left
        #gitInfo.row  
          i.fa.fa-cog.fa-spin.gitLoader
