article#cert.container-fluid.section
  .cert_container.row
    h2.box_title.col-12.center Certificate
    .owl-list
      .owl-carousel.owl-cert.owl-theme.owl-loaded
        a.col-12(href="https://www.freecodecamp.org/certification/eugenefenko/responsive-web-design", target="_blank", rel="noopener noreferrer")
          img(src="./img/web.png", alt="").cert_image.item
        a.col-12(href="https://www.freecodecamp.org/certification/eugenefenko/javascript-algorithms-and-data-structures", target="_blank", rel="noopener noreferrer")
          img(src="./img/js.png", alt="").cert_image.item
