article#cert.container-fluid
  .cert_container.row
    h2.box_title.col-12.center Certificate
    a.col-12(href="https://www.freecodecamp.org/certification/eugenefenko/responsive-web-design", target="_blank", rel="noopener noreferrer")
      img(src="./img/resp-web.png", alt="").cert_image.item
    //- .owl-list
      .owl-carousel.owl-theme.owl-loaded

    
