footer
  .container-fluid
    .row
      .col-12.col-sm-3.foot_block
        img.foot_logo(src='favicon.svg', alt='Logo')
      .col-12.col-sm-6.foot_block
        p.foot_text
          | All rights reserved!
          br
          |               Hosted by 
          i.fab.fa-github(style='font-size:1rem;')
          br
          | Created with 
          i.fa.heartbeat.fa-heart.red_c(aria-hidden='true')
      .col-12.col-sm-3.foot_block
        ul.foot_social
          li
            a(target='_blank', href='https://www.facebook.com/efenko')
              i.fab.fa-facebook(aria-hidden='true')
              |  Facebook
          li
            a(target='_blank', href='https://www.linkedin.com/in/eugene-fenko-a969b898/')
              i.fab.fa-linkedin(aria-hidden='true')
              |  LinkedIn
          li
            a(target='_blank', href='https://www.instagram.com/efenko/')
              i.fab.fa-instagram(aria-hidden='true')
              |  Instagram
          li
            a(target='_blank', href='https://github.com/EugeneFenko')
              i.fab.fa-github(aria-hidden='true')
              |  GitHub
      hr#foot_line
      .col-12.foot_block.copy
        span
          | Eugene Fenko 
          i.fas.fa-copyright(aria-hidden='true')
          |  2017-
          span#copyYear