header#header
  #text_logo.align-middle.col-12.col-lg-6.mr-auto
    h3 Freelancer | IT | Developer
    h1 Eugene Fenko
    .container-fluid.head_btn_block
      .row
        .col.foot_block
          a.goto(href='#about')
            .head_btn.red
              i.fas.fa-id-card-alt
              |  Read more
        .col.foot_block
          a.goto(href='#hire')
            .head_btn.b_green.pulse
              i.fa.fa-briefcase
              |  Hire now
