header#header.section
  #text_logo.align-middle.col-12.col-lg-6.mr-auto
    h3 Freelancer &amp; Developer

    h1#header__name
    .container-fluid.head_btn_block
      .row
        .col.foot_block
          a.goto(href='#about')
            button.beauty.purple
              i.fas.fa-id-card-alt
              |  Read more
        .col.foot_block
          a.goto(href='#hire')
            button.beauty.green.pulse
              i.fa.fa-briefcase
              |  Hire!
