// Required meta tags
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='referrer', content='origin')
meta(name='google-site-verification', content='Eh5VKApG5-FRn8tPTUAWWDKm3hC215wJUbwv8NUs0aQ')
meta(name='freelancehunt', content='5a1735abb6990cd')
// Fill in the following meta tags
meta(name='keywords', content='Eugene Fenko, freelancer, web-developer, landing')
meta(name='description', content='Freelance 💻Web Developer and 🎨Photo Editor from 🌎Kyiv, Ukraine.')
meta(name='author', content='Eugene Fenko')
// Change the site title
title Eugene Fenko | Home Page
link(rel='shortcut icon', type='image/png', href='favicon.png')
link(rel='shortcut icon', type='image/svg', href='favicon.svg')
meta(name='theme-color', content='#ffffff')