#hire.container.box
  h2.box_title.center HireMe
  .row.hire_fix
    .col-12.col-sm-6.hire.center(data-aos='zoom-in-left')
      a(target='_blank', href='https://www.upwork.com/o/profiles/users/_~01565ef32404d31fcf/')
        img(src='img/upwork-logo.svg', alt='Upwork')
    .col-12.col-sm-6.hire.center(data-aos='zoom-in-right')
      a(target='_blank', href='https://freelancehunt.com/freelancer/efenko.html?r=ZpELy')
        img(src='img/freelancehunt-en-ua.png', alt='Freelancehunt')