#hire.container.box.section
  h2.box_title.center HireMe
  .row.hire_fix
    .col-12.col-sm-6.hire.center(data-aos='zoom-in-left')
      a(target='_blank', href='https://www.freelancer.com.ua/get/Softoverlord?f=give')
        img(src='img/freelancer-logo.svg', alt='Freelancer')
    .col-12.col-sm-6.hire.center(data-aos='zoom-in-right')
      a(target='_blank', href='https://freelancehunt.com/freelancer/efenko.html?r=ZpELy')
        img(src='img/freelancehunt-en-ua.png', alt='Freelancehunt')