nav.navbar.navbar-toggleable-md.navbar-light.sticky-top
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .navbar-brand
    img(src='favicon.svg', alt='Logo', width='30', height='30')
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link.goto(href='#header')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link.goto(href='#about')
          | About Me 
          span.sr-only
      li.nav-item
        a.nav-link.goto(href='#skill')
          | My Skills
          span.sr-only
      li.nav-item
        a.nav-link.goto(href='#portfolio')
          | Portfolio
          span.sr-only
      li.nav-item
        a.nav-link.goto(href='#timeline')
          | Timeline
          span.sr-only
      li.nav-item
        a.nav-link.goto(href='#hire')
          | Hire Me
          span.sr-only
      li.nav-item
        a.nav-link.goto(href='#contact')
          | Contact Me
          span.sr-only
