article#portfolio.container-fluid.portfolio.d-flex.justify-content-center.section
  .row.justify-content-center
    .col-12
      h2.center.box_title Portfolio
    .portfolio-effect
      #p-ipsec.portfolio-item.portfolio-effect__item.portfolio-item--eff1
        .portfolio-item__info
          h3.portfolio-item__header Smart IPSec
          .portfolio-item__links
            .portfolio-item__link-block
              a.portfolio-item__link(target='_blank', href='https://eugenefenko.github.io/ipsec', title='Smart IPSec')
                i.fa.fa-link(aria-hidden='true')
      #p-geekfen.portfolio-item.portfolio-effect__item.portfolio-item--eff1
        .portfolio-item__info
          h3.portfolio-item__header GeekFen
          .portfolio-item__links
            .portfolio-item__link-block
              a.portfolio-item__link(target='_blank', href='https://eugenefenko.github.io/html', title='GeekFen')
                i.fa.fa-link(aria-hidden='true')
      #p-totaleu.portfolio-item.portfolio-effect__item.portfolio-item--eff1
        .portfolio-item__info
          h3.portfolio-item__header Totaleu
          .portfolio-item__links
            .portfolio-item__link-block
              a.portfolio-item__link(target='_blank', href='http://totaleu.eu/', title='Totaleu.eu')
                i.fa.fa-link(aria-hidden='true')
      #p-drjulia.portfolio-item.portfolio-effect__item.portfolio-item--eff1
        .portfolio-item__info
          h3.portfolio-item__header HTML Landing Page
          .portfolio-item__links
            .portfolio-item__link-block
              a.portfolio-item__link(target='_blank', href='http://drjuliaspractice.com/', title='http://drjuliaspractice.com/')
                i.fa.fa-link(aria-hidden='true')
      #p-uniland.portfolio-item.portfolio-effect__item.portfolio-item--eff1
        .portfolio-item__info
          h3.portfolio-item__header Uniland
          .portfolio-item__links
            .portfolio-item__link-block
              a.portfolio-item__link(target='_blank', href='https://www.uniland.ru/', title='https://www.uniland.ru/')
                i.fa.fa-link(aria-hidden='true')
      #p-trpharm.portfolio-item.portfolio-effect__item.portfolio-item--eff1
        .portfolio-item__info
          h3.portfolio-item__header TRpharm
          .portfolio-item__links
            .portfolio-item__link-block
              a.portfolio-item__link(target='_blank', href='http://www.trpharm.com/', title='http://www.trpharm.com/')
                i.fa.fa-link(aria-hidden='true')
      #p-new.portfolio-item.portfolio-effect__item.portfolio-item--eff1
        .portfolio-item__info
          h3.portfolio-item__header Place for Your project!
          .portfolio-item__links
            .portfolio-item__link-block
              a.portfolio-item__link(href='/#contact')
                i.fa.fa-link(aria-hidden='true')
