aside#skill.skill_block.container-fluid
  .row
    .col-12.center
      h2.box_title My Skills
    .owl-list
      .owl-carousel.owl-theme.owl-loaded
        span.skill-owl.item.skill-list-title
          i.fas.fa-globe
          span Web
          ul.skill-list-item
            .skill-box-item
              i.fab.fa-html5
              span HTML5
            .skill-box-item
              i.fas.fa-mobile
              span Responsive
              .progress-wrap-skill.progress-skill(data-progress-percent='90', data-progress-color='blue')
                .progress-bar-skill.progress-skill
            .skill-box-item
              i.fab.fa-cloudscale
              span Speed optimization
              .progress-wrap-skill.progress-skill(data-progress-percent='65', data-progress-color='green')
                .progress-bar-skill.progress-skill
        span.skill-owl.item.skill-list-title
          i.fab.fa-css3
          span Css
          ul.skill-list-item
            li
              .skill-box-item
                i.fab.fa-css3-alt
                span CSS3
              .skill-box-item
                i.fab.fa-sass
                span SASS
              .skill-box-item
                i.fab.fa-less
                span LESS
        span.skill-owl.item.skill-list-title
          i.fab.fa-wordpress
          span Wordpress
          ul.skill-list-item
            li
              .skill-box-item
                i.fas.fa-upload
                span Installation
              .skill-box-item
                i.fab.fa-elementor
                span Elementor
              .skill-box-item
                i.fas.fa-cogs
                span Customization
        span.skill-owl.item.skill-list-title
          i.fab.fa-js
          span JavaScript
          ul.skill-list-item
            li
              .skill-box-item
                i.fab.fa-js-square
                span ECMAScript 6
              .skill-box-item
                i.fas.fa-project-diagram
                span API
              .skill-box-item
                i.fab.fa-gulp
                span Gulp
        span.skill-owl.item.skill-list-title
          i.fab.fa-node-js
          span Nodejs
          ul.skill-list-item
            li
              .skill-box-item
                i.fab.fa-npm
                span NPM
              .skill-box-item
                i.fab.fa-yarn
                span Yarn
        span.skill-owl.item.skill-list-title
          i.fas.fa-code-branch
          span Git
          ul.skill-list-item
            li
              .skill-box-item
                i.fab.fa-github
                span GitHub
              .skill-box-item
                i.fab.fa-bitbucket
                span Bitbucket
              .skill-box-item
                i.fab.fa-gitlab
                span GitLab