#timeline.container-fluid.timeline_box.box
  .container
    .page-header
      h2.box_title.center Timeline
    ul.timeline
      li
        .timeline-badge(data-aos='zoom-in')
          i.fa.fa-check
        .timeline-panel(data-aos='fade-up')
          .timeline-heading
            h4.timeline-title
              i.fa.fa-graduation-cap
              |  School
            p
              small.text-muted
                i.far.fa-clock
                |  2003 - 2014
          .timeline-body
            p School graduation
      li.timeline-inverted
        .timeline-badge(data-aos='zoom-in')
          i.fa.fa-check
        .timeline-panel(data-aos='fade-up')
          .timeline-heading
            h4.timeline-title
              i.fa.fa-university
              |  University
            p
              small.text-muted
                i.far.fa-clock
                |  2014 - 2018
          .timeline-body
            p
              | Bachelor of Engineering (B.Eng.), Telecommunications
              | engineering | National Technical University of Ukraine &quot;Kyiv
              | Polytechnic Institute&quot;
      li
        .timeline-badge(data-aos='zoom-in')
          i.fa.fa-check
        .timeline-panel(data-aos='fade-up')
          .timeline-heading
            h4.timeline-title
              i.fa.fa-briefcase
              |  Freelancer
            p
              small.text-muted
                i.far.fa-clock
                |  2016
          .timeline-body
            p Beginning to freelancer career
      li.timeline-inverted
        .timeline-badge(data-aos='zoom-in')
          i.fa.fa-check
        .timeline-panel(data-aos='fade-up')
          .timeline-heading
            h4.timeline-title
              i.fa.fa-code
              |  Pet-project
            p
              small.text-muted
                i.far.fa-clock
                |  2017
          .timeline-body
            p Beginning to development of my pet-project
      li
        .timeline-badge(data-aos='zoom-in')
          i.fa.fa-check
        .timeline-panel(data-aos='fade-up')
          .timeline-heading
            h4.timeline-title
              i.fa.fa-university
              |  University
            p
              small.text-muted
                i.far.fa-clock
                |  2018 - 2019
          .timeline-body
            p
              | Master of Telecommunications and Network Engineering (M.Scs) |
              | National Technical University of Ukraine &quot;Kyiv Polytechnic
              | Institute&quot;